<section class="login">
  <form name="loginform" novalidate
    ng-submit="login()">
    <h1>Hi there!</h1>
    <p>Log-in to access the awesomeness!</p>

    <p class="error formerror" ng-show="message">{{message}}</p>

    <input type="email" name="email" placeholder="Email" autofocus
      ng-model="user.email" ng-required="true">
    <p class="error validationerror"
      ng-show="loginform.email.$invalid && loginform.email.$touched">
      Must be a valid email</p>

    <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
    <p class="error validationerror"
      ng-show="loginform.password.$invalid && loginform.password.$touched">
      password is required</p>

    <button type="submit" class="btn"
      ng-disabled="loginform.$invalid">Login</button>
    <p>or <a href="#/register">register</a></p>
  </form>
</section>
