<section class="well">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Inbox</h3>
      <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal"
        data-target="#newMessageModal">
        New Message
      </button>
    </div><!-- panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="list-group">
                <a class="list-group-item" ng-repeat="(key, friend) in friends"
                  ng-click="loadMessagesFrom(key, friend)">{{friend.fullName}}</a>
              </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-9" id="message-panel">
              <div class="panel panel-default"
                ng-show="activeFriendId">
                <div class="panel-body">
                  <div id="messagesContent"
                    ng-show="activeFriendId">
                    <p ng-hide="cnvCnt > 0">Oops! No messages yet!</p>
                    <ul class="list-group">
                      <li class="list-group-item"
                      ng-repeat="message in fromMessages">
                      <p class="text-center">
                      <small>
                        <strong>{{message.from}}:</strong> <em>{{ message.timestamp | date : 'short' }}</em>
                      </small>
                      </p>
                      <p>{{message.body}}</p>
                      </li>
                    </ul>
                  </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <form name="replyForm" novalidate
                    ng-submit="reply(replyMessage)">
                    <div class="form-group">
                      <textarea class="form-control"
                        id="reply-message-text" placeholder="Write a reply..."
                        ng-model="replyMessage.body"
                        ng-required="true"></textarea>
                      <button
                        type="submit" class="btn btn-primary"
                        ng-disabled="replyForm.$invalid">Reply</button>
                    </div><!-- .form-group -->
                  </form>
                </div><!-- panel-footer -->
              </div><!-- panel -->
            </div><!-- #message-panel -->
          </div><!-- row -->
        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- panel-body -->
  </div><!-- panel -->
  <!-- New Message Modal -->
  <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="newMessageForm" novalidate
          ng-model="newMessage" ng-submit="sendMessageTo(newMessage)">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div><!-- .modal header -->
          <div class="modal-body">
            <label for="search-friends" class="sr-only">Search for Udacifriends</label>
            <input type="text" placeholder="Search for Udacifriends ..."
              name="search-friend" class="form-control input-lg"
              ng-model="query" ng-required="true" ng-change="showDropDown()"
              ng-init="ddCtrl='true'">
            <div class="searchresults" ng-show="query && ddCtrl">
              <div class="list-group">
                <a class="list-group-item"
                  ng-repeat="user in users | filter:search"
                  ng-click="addFriendById(user)">
                  {{user.firstname}} {{user.lastname}}
                </a>
              </div><!-- list-group -->
            </div><!-- searchresults -->
            <div class="form-group">
              <label for="message-text" class="control-label">Message:</label>
              <textarea class="form-control" id="new-message-text"
                ng-model="newMessage.body" ng-required="true"></textarea>
            </div><!-- .form-group -->
          </div><!-- .modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"
              ng-disabled="newMessageForm.$invalid">Send</button>
          </div><!-- .modal-footer -->
        </form>
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog  -->
  </div><!-- #newMessageModal -->
</section>
