<section class="messages cf">

  <div ng-hide="currentUser" class="sorry">
    <h1>Sorry</h1>
    <p>Only registered Udacifriends can send and receive messages.</p>
    <p>Please <a ng-href="#/register">Register</a>
      or <a ng-href="#/login">Login</a></p>
  </div>

  <div ng-show="currentUser" id="messageArea">
    <div id="messageList">
      <p id="inbox">Inbox <strong>({{messageCnt}})</strong></p>
      <div id="fromList">
        <ul>
          <li>friend 1</li>
        </ul>
      </div><!-- fromList -->
    </div><!-- messageList -->
    <div id="messages">
      <div id="messagesHeader">
        <h2>fromName</h2>
        <button type="submit" class="btn">New Message</button>
      </div><!-- messagesHeader -->
      <div id="messagesContent">
        <p ng-hide="messages">Oops! No messages yet :( Why not try sending some
        messages?</p>
        <ul>
          <li class="date"
            ng-repeat-start="message in messages">{{message.timestamp}}</li>
          <li class="message"
            ng-repeat-end>
            <div>
              <p>{{message.body}}</p>
            </div>
          </li>
        </ul>
        <div id="replyArea">
          <form class="formgroup addfriend cf"
            name="replyForm"
            ng-submit="reply()"
            novalidate>
                <textarea name="reply" rows="8" cols="40" placeholder="Write a reply..."
                  ng-model="replyMessage"></textarea>
                <button type="submit" class="btn">Reply</button>
          </form>
        </div><!-- replyArea -->
      </div><!-- messagesContent -->
    </div><!-- messages -->
  </div><!-- displaymessages -->
</section>
