<section class="messages cf">

  <div ng-hide="currentUser" class="sorry">
    <h1>Sorry</h1>
    <p>Only registered Udacifriends can send and receive messages.</p>
    <p>Please <a ng-href="#/register">Register</a>
      or <a ng-href="#/login">Login</a></p>
  </div>

  <div ng-show="currentUser" id="messageArea">
    <div id="messageList">
      <p id="inbox">Inbox <strong>({{messageCnt}})</strong></p>
      <div id="fromList">
        <ul>
          <li ng-repeat="(key, friend) in friends"
            ng-click="loadMessagesFrom(key, friend)">{{friend.fullName}}</li>
        </ul>
      </div><!-- fromList -->
    </div><!-- messageList -->
    <div id="messages">
      <div id="messagesHeader">
        <h2>{{fromName}}</h2>
        <button class="btn"
          ng-click="newMessageTo(activeFriendId)">New Message</button>
      </div><!-- messagesHeader -->
      <div id="messagesContent">
        <p ng-hide="fromMessages">Oops! No messages yet!</p>
        <ul>
          <li class="date"
            ng-repeat-start="message in fromMessages">{{ message.timestamp |
            date : 'short' }}</li>
          <li class="message"
            ng-repeat-end>
            <div>
              <p>{{message.body}}</p>
            </div>
          </li>
        </ul>
        <div id="replyArea">
          <form class="formgroup addfriend cf" name="replyForm" novalidate
            ng-submit="reply()">
            <textarea name="reply" rows="8" cols="40" placeholder="Write a reply..."
              ng-model="replyMessage"></textarea>
            <button type="submit" class="btn">Reply</button>
          </form>
        </div><!-- replyArea -->
      </div><!-- messagesContent -->
    </div><!-- messages -->
    <div>
      <form class="formgroup addfriend cf" name="newMessageForm" novalidate
        ng-submit="sendMessageTo(newMessage)">
        <input type="text" name="message-to" id="messageTo" placeholder="To:"
          ng-model="newMessage.to">
        <textarea name="new-message-body" id="newMessageBody" rows="8" cols="40" placeholder="Write a reply..."
          ng-model="newMessage.body"></textarea>
        <button type="submit" class="btn">Send</button>
      </form>
    </div>
  </div><!-- displaymessages -->
</section>
