<section class="register">
  <form name="reg_form"
    ng-submit="register()"
    novalidate>

    <h1>Register</h1>
    <p>To access site features</p>

    <input type="firstname" name="firstname" placeholder="First Name"
      ng-model="user.firstname" ng-required="true" autofocous>
    <p class="error validationerror"
      ng-show="reg_form.firstname.$invalid && reg_form.firstname.$touched">
      First Name is required</p>

    <input type="lastname" name="lastname" placeholder="Last Name"
      ng-model="user.lastname" ng-required="true">
    <p class="error validationerror"
      ng-show="reg_form.lastname.$invalid && reg_form.lastname.$touched">
      Last Name is required</p>

    <input type="email" name="email" placeholder="Email"
      ng-model="user.email" ng-required="true">
    <p class="error validationerror"
      ng-show="reg_form.email.$invalid && reg_form.email.$touched">
      Must be a valid email</p>

    <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
    <p class="error validationerror"
      ng-show="reg_form.password.$invalid && reg_form.password.$touched">
      password is required</p>

    <button type="submit" class="btn"
      ng-disabled="reg_form.$invalid">Register</button>
    <p>or <a href="#/login">login</a></p>
  </form>
</section>
