<section class="well">
  <form name="regform" novalidate
    ng-submit="register()">
    <h1>Register</h1>
    <p>To access site features</p>

    <div class="alert alert-danger" role="alert"
      ng-show="message">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{message}}
    </div>

    <div class="form-group">
      <label for="firstname" class="sr-only">First Name</label>
      <input type="text" name="firstname" placeholder="First Name"
        class="form-control input-lg" autofocus
        ng-model="user.firstname" ng-required="true">
      <div class="alert alert-danger" role="alert"
        ng-show="regform.firstname.$invalid && regform.firstname.$touched">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        First Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lastname" class="sr-only">Last Name</label>
      <input type="text" name="lastname" placeholder="Last Name"
        class="form-control input-lg" autofocus
        ng-model="user.lastname" ng-required="true">
      <div class="alert alert-danger" role="alert"
        ng-show="regform.lastname.$invalid && regform.lastname.$touched">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Last Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="sr-only">Email Address</label>
      <input type="text" name="email" placeholder="Email"
        class="form-control input-lg" autofocus
        ng-model="user.email" ng-required="true">
      <div class="alert alert-danger" role="alert"
        ng-show="regform.email.$invalid && regform.email.$touched">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Must be a valid email
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" placeholder="Password"
      class="form-control input-lg"
        ng-model="user.password" ng-required="true">
      <div class="alert alert-danger" role="alert"
        ng-show="regform.password.$invalid && regform.password.$touched">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Password is required
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block"
      ng-disabled="regform.$invalid">Register</button>
    <div class="form-group">
      <p class="text-center">or <a href="#/login">login</a></p>
    </div>
  </form>
</section>
